<div>
  <h2 id="page-heading" data-cy="ServiceReviewHeading">
    <span jhiTranslate="n1CeblogApp.serviceReview.home.title">Service Reviews</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="n1CeblogApp.serviceReview.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-service-review"
        [routerLink]="['/service-review/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="n1CeblogApp.serviceReview.home.createLabel"> Create a new Service Review </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="serviceReviews?.length === 0">
    <span jhiTranslate="n1CeblogApp.serviceReview.home.notFound">No serviceReviews found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="serviceReviews && serviceReviews.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="serviceId">
            <span jhiTranslate="n1CeblogApp.serviceReview.serviceId">Service Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="userId">
            <span jhiTranslate="n1CeblogApp.serviceReview.userId">User Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="rating">
            <span jhiTranslate="n1CeblogApp.serviceReview.rating">Rating</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="comment">
            <span jhiTranslate="n1CeblogApp.serviceReview.comment">Comment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="publishingTime">
            <span jhiTranslate="n1CeblogApp.serviceReview.publishingTime">Publishing Time</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let serviceReview of serviceReviews; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/service-review', serviceReview.id, 'view']">{{ serviceReview.id }}</a>
          </td>
          <td>{{ serviceReview.serviceId }}</td>
          <td>{{ serviceReview.userId }}</td>
          <td>{{ serviceReview.rating }}</td>
          <td>{{ serviceReview.comment }}</td>
          <td>{{ serviceReview.publishingTime }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/service-review', serviceReview.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/service-review', serviceReview.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(serviceReview)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="serviceReviews && serviceReviews.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
