<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="serviceReview">
      <h2 data-cy="serviceReviewDetailsHeading"><span jhiTranslate="n1CeblogApp.serviceReview.detail.title">Service Review</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ serviceReview.id }}</span>
        </dd>
        <dt><span jhiTranslate="n1CeblogApp.serviceReview.serviceId">Service Id</span></dt>
        <dd>
          <span>{{ serviceReview.serviceId }}</span>
        </dd>
        <dt><span jhiTranslate="n1CeblogApp.serviceReview.userId">User Id</span></dt>
        <dd>
          <span>{{ serviceReview.userId }}</span>
        </dd>
        <dt><span jhiTranslate="n1CeblogApp.serviceReview.rating">Rating</span></dt>
        <dd>
          <span>{{ serviceReview.rating }}</span>
        </dd>
        <dt><span jhiTranslate="n1CeblogApp.serviceReview.comment">Comment</span></dt>
        <dd>
          <span>{{ serviceReview.comment }}</span>
        </dd>
        <dt><span jhiTranslate="n1CeblogApp.serviceReview.publishingTime">Publishing Time</span></dt>
        <dd>
          <span>{{ serviceReview.publishingTime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/service-review', serviceReview.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
